<!DOCTYPE html>
<html>
<head>
    <title>Аеропорт</title>
    <meta charset="utf-8" />
</head>
<body>

    <h1>Аеропорт</h1>
    <div class="zapyt">
        <a href="/Stuard">Сторінка стюарда</a>
        <a href="/create">Додати новий запис</a>
        <a href="/delete">Видалити запис</a>
    </div>

</body>
<style>
    body{
        padding: 0;
        margin: 0;
        background-color: darkblue;
    }

    h1 {
        text-align: center;
        color: yellow;
        font-size: 80px;
        font-family: "Times New Roman", serif;
        margin-bottom: 250px;
        margin-top: 30px;
    }
    .zapyt {
        display: flex;
        text-align: center;

        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
    }
    a {
        color:darkblue;
        background-color: yellow;
        padding: 10px 20px;
        text-align: center;
        display: block;

        cursor: pointer;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: "Times New Roman", serif;
        font-weight: bold;
        text-decoration: none;
    }
</style>
<html>